main {
  overflow-y: scroll;
  grid-area: form;
  background-color: #ada6a66c;
}

.resume-container {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 40px;
}

#resume {
  background-color: aliceblue;
  width: 99.9%;
  aspect-ratio: 0.7071;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HEAD */

.personal-header p {
  font-size: 1em;
}

.personal-head-top {
  background-color: rgb(32, 41, 170);
  color: aliceblue;
  font-size: 1em;
  padding: 10px 50px;
}

.personal-summary {
  font-size: 1em;
  padding: 0px 60px;
}

.form-section {
  padding: 0px 4em;
  margin: o;
}

.form-section-title {
  padding: 0.5em 0;
  margin: 0;
  font-size: x-large;
}

.form-section-mid {
  display: flex;
  justify-content: space-between;
}
h4 {
  margin: 0;
}

.content-header {
  align-self: center;
  margin: 0;
  padding: 0;
}
